<% content_for :head do %>
	<title>JAYPATRICK MANALANSAN : FULL STACK DEVELOPER</title>
	<meta name='description' content='JAYPATRICK MANALANSAN FULL STACK WEB DEVELOPER WEB DESIGNER' />
<% end %>
<% content_for :body do %>
<main>

	<h1>Work</h1>
	
</main>
<% end %>